@-webkit-keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}
@keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}
.page-header
{
    position: fixed;
    z-index: 1000;

    width: 320px;
    width: 100%;
    margin: 0 auto;

    -webkit-box-shadow: 1px 0 15px 1px #000;
            box-shadow: 1px 0 15px 1px #000;
}
.page-header__logo
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-right: 2%;
    padding-left: 2%;

    background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
    background: -webkit-linear-gradient(top, #049aff, #86c5ff);
    background:      -o-linear-gradient(top, #049aff, #86c5ff);
    background:         linear-gradient(to bottom, #049aff, #86c5ff);

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.page-header__logo-link
{
    position: relative;

    display: block;

    width: 40%;
    padding-top: 1%;

    text-decoration: none;

    color: #fff;
}
.main-nav
{
    position: relative;

    width: 320px;
    width: 100%;
    margin: 0 auto;

    text-align: center;

    background: #cfcfcf;
}
.main-nav__item,
.main-nav__items
{
    position: relative;

    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
}
.main-nav__item a
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    margin: 0;
    padding: 0;
    padding: 5px 0;
    padding-bottom: 5px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}
.page-header__phone a
{
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 28px;

    position: relative;
    z-index: 1001;

    text-decoration: none;

    color: #fff;
}
.page-header__phone a:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    color: #7bf5b5;
}
.page-header__phone a::before
{
    position: absolute;
    top: 0;
    left: -25px;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../../img/call-answer.svg') center no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
}
.zvonok
{
    display: none;
}
.main-nav__item-active
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.main-nav__toggle
{
    font-size: 0;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    display: block;

    width: 70px;
    height: 36px;

    cursor: pointer;

    border: 1px solid #fff;
    outline: none;
    background-color: #fff;
}
.main-nav__toggle:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background-color: #049aff;
}
.main-nav__toggle:active
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background-color: #86c5ff;
}
.main-nav--closed .main-nav__toggle::before
{
    position: absolute;
    top: 8px;
    left: 17px;

    width: 36px;
    height: 4px;

    content: '';

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #000;
    -webkit-box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
            box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}
.main-nav--closed .main-nav__toggle:active::before
{
    background-color: rgba(255, 255, 255, .3);
    -webkit-box-shadow: 0 8px 0 0 rgba(255, 255, 255, .3), 0 16px 0 0 rgba(255, 255, 255, .3);
            box-shadow: 0 8px 0 0 rgba(255, 255, 255, .3), 0 16px 0 0 rgba(255, 255, 255, .3);
}
.main-nav--opened .main-nav__toggle
{
    top: 0;
    right: auto;
    left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after
{
    position: absolute;
    top: 15px;
    left: 18px;

    width: 26px;
    height: 4px;

    content: '';

    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #000;
}
.main-nav--opened .main-nav__toggle::before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    -webkit-box-shadow: none;
            box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after
{
    background-color: rgba(255, 255, 255, .3);
}
.main-nav__item a[href]:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    background-color: rgba(207, 207, 207, .3);
}
.main-nav__item a[href]:active
{
    color: rgba(255, 255, 255, .3);
    background-color: rgba(207, 207, 207, .6);
}
.main-nav--closed .main-nav__item
{
    display: none;
}
.main-nav--closed .main-nav__item-active
{
    display: block;
}
.main-nav--opened .main-nav__wrapper
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 70px;

    height: auto;

    -webkit-animation: main-picture-bounce .5s;
            animation: main-picture-bounce .5s;

    background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
    background: -webkit-linear-gradient(top, #049aff, #86c5ff);
    background:      -o-linear-gradient(top, #049aff, #86c5ff);
    background:         linear-gradient(to bottom, #049aff, #86c5ff);
}
.main-nav--opened .main-nav__wrapper::before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 7px;
    height: 100%;

    content: '';

    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, .4);
            box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, .4);
}
.main-nav--nojs .main-nav__toggle
{
    display: none;
}
.main-nav--nojs .main-nav__wrapper
{
    position: static;

    height: auto;
}
.main-nav--nojs .main-nav__item
{
    display: block;
}
.main-nav-nojs .main-nav__item--active a
{
    padding-right: 21px;
    padding-left: 21px;

    text-align: left;
}
.main-nav__item .main-nav__social-link
{
    width: 50%;
    min-width: 250px;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 3%;
    padding-top: 8px;

    text-align: center;

    border: 1px solid #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
}
.main-nav__social-link-whatsup
{
    position: relative;

    background-color: #00c5a8;
}
.main-nav__social-link-whatsup::before
{
    position: absolute;
    top: 10%;
    left: 13px;

    display: block;

    width: 30px;
    height: 80%;

    content: '';

    background-image: url('../img/whatsapp-logo.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.main-nav__social-link-viber
{
    position: relative;

    background-color: #6f51aa;
}
.main-nav__social-link-viber::before
{
    position: absolute;
    top: 10%;
    left: 13px;

    display: block;

    width: 30px;
    height: 80%;

    content: '';

    background-image: url('../img/viber-logo.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.main-nav__social-link-vk
{
    position: relative;

    background-color: #35659a;
}
.main-nav__social-link-vk::before
{
    position: absolute;
    top: 11%;
    left: 13px;

    display: block;

    width: 30px;
    height: 80%;

    content: '';

    background-image: url('../img/vk-logo.svg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.page-footer__wrapper
{
    width: 100%;
    padding-top: 30px;

    background-color: #222;
}
.page-footer__footer-logo
{
    width: 170px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.page-footer__footer-logo .page-footer__footer-logo-link
{
    font-size: 0;

    display: block;

    width: 170px;
    height: 55px;

    background: url('../img/transplogo.png') no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
}
.page-footer__develop span
{
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;

    color: #000;
}
.page-footer__social-links
{
    font-size: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    margin: 0 auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}
.page-footer__social-links b
{
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

    padding-bottom: 5%;

    text-align: center;

    color: #a6a6a6;
}
.page-footer__social-links .page-footer__social-link
{
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;

    min-width: 250px;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 3%;
    padding-top: 8px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
}
.page-footer__social-links .page-footer__social-link:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    border-color: #000;
}
.page-footer__social-links .page-footer__social-link:active
{
    opacity: .4;
}
.page-footer__develop
{
    padding-top: 45px;

    text-align: center;
}
.page-footer__develop a
{
    cursor: pointer;
}
.page-footer__link-vk
{
    position: relative;

    background-color: #35659a;
}
.page-footer__link-vk::before
{
    position: absolute;
    top: 11%;
    left: 13px;

    display: block;

    width: 30px;
    height: 80%;

    content: '';

    background-image: url('../img/vk-logo.svg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.page-footer__link-inst
{
    position: relative;

    background: -webkit-gradient(linear, left top, left bottom, from(#be00b5), to(#f6bb41));
    background: -webkit-linear-gradient(top, #be00b5, #f6bb41);
    background:      -o-linear-gradient(top, #be00b5, #f6bb41);
    background:         linear-gradient(to bottom, #be00b5, #f6bb41);
}
.page-footer__link-inst::before
{
    position: absolute;
    top: 11%;
    left: 13px;

    display: block;

    width: 30px;
    height: 80%;

    content: '';

    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.page-footer__link-whatsup
{
    position: relative;

    background-color: #00c5a8;
}
.page-footer__link-whatsup::before
{
    position: absolute;
    top: 10%;
    left: 13px;

    display: block;

    width: 30px;
    height: 80%;

    content: '';

    background-image: url('../img/whatsapp-logo.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.page-footer__link-viber
{
    position: relative;

    background-color: #6f51aa;
}
.page-footer__link-viber::before
{
    position: absolute;
    top: 10%;
    left: 13px;

    display: block;

    width: 30px;
    height: 80%;

    content: '';

    background-image: url('../img/viber-logo.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.page-footer__copyright
{
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;

    color: #a6a6a6;
    border-top: 1px solid #ccc;
    background-color: #222;
}
.page-footer__develop a
{
    font-size: 0;

    display: inline-block;

    width: 30px;
    height: 35px;

    vertical-align: text-bottom;

    background-image: url('../img/develop.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.page-footer__develop span
{
    position: relative;
    bottom: 8px;
}
.page-footer__copyright a
{
    display: inline-block;

    color: #a6a6a6;
}
.tel-footer
{
    padding-left: 15px;
}
.page-footer__menu
{
    display: none;
}
.preload
{
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
    -webkit-animation: none !important;
            animation: none !important;
}
.nav--preload
{
    display: none;
}
.nav a,
.tel a,
.zakaz_zvonok a,
a
{
    text-decoration: none;
}
.FormaRight h5,
.FormaRight p,
.nav a,
.social-link h2,
.tel,
.zakaz_zvonok
{
    text-align: center;
}
body
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;

    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Russo One', Arial, sans-serif;
}
*,
:after,
:before
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
[class*=grid-]
{
    float: left;

    width: 100%;
    padding: 0;
}
.Menu
{
    position: fixed;
    z-index: 99;

    width: 100%;
    height: auto;
    padding: 10px 0;

    background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
    background: -webkit-linear-gradient(top, #049aff, #86c5ff);
    background:      -o-linear-gradient(top, #049aff, #86c5ff);
    background:         linear-gradient(to bottom, #049aff, #86c5ff);
    -webkit-box-shadow: 1px 0 15px 1px #000;
            box-shadow: 1px 0 15px 1px #000;
}
.visually-hidden
{
    display: none;
}
.logo img
{
    float: left;

    width: 40%;
    margin-left: 9%;
}
.logo span
{
    font-size: 1em;
    font-weight: 700;

    float: left;

    width: 45%;
    margin-top: 3%;
    margin-left: 4%;

    color: #f2f2f2;
}
nav ul
{
    font-size: 0;

    margin-left: 10%;
}
.nav li
{
    display: inline;

    list-style: none;
}
.nav a
{
    font-family: inherit;
    font-size: 18px;
    line-height: 19px;

    position: relative;

    display: inline-block;

    width: 100px;
    height: 60px;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: 10px;

    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
    vertical-align: top;

    color: #f2f2f2;
}
.nav a::after
{
    position: absolute;
    top: 10px;
    left: 0;

    width: 1px;
    height: 40px;

    content: '';

    background: #f2f2f2;
}
.nav a:hover
{
    color: #000;
    border-bottom: 1px solid #f2f2f2;
}
.nav a:active
{
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .3);
            box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .3);
}
.tel a
{
    font-size: 1.4em;

    display: block;

    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;

    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 14px;
            border-radius: 14px;
    background: #02ef79;
}
.tel a:hover
{
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    background: #00bc61;
}
.zakaz_zvonok
{
    margin-top: 13px;
}
.zakaz_zvonok a
{
    font-size: 1em;

    display: block;

    width: auto;
    padding: 5px 5px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    color: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #ff0030;
}
.zakaz_zvonok a:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    color: #fff;
    border: 1px solid #fff;
    background: #00ff8c;
}
#footer
{
    height: 600px;
}
#footer .footer_right
{
    font-size: 1.4em;

    position: absolute;
    top: 100px;
    right: 50px;

    width: 40%;
    padding: 50px;

    color: #fff;
    background: #049aff;
    -webkit-box-shadow: 0 0 20px 0 #000;
            box-shadow: 0 0 20px 0 #000;
}
.footer_right p
{
    margin-top: 15px;
}
.footer_right a
{
    color: #fff;
}
.blok1
{
    width: 100%;
    height: 750px;

    background: url(../img/back-main.jpg) 100% 100% no-repeat fixed;
    background-position-x: left;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.speech-container
{
    font-size: 1.5em;

    position: absolute;
    top: 100px;

    width: 90%;
    margin-left: 5%;
    padding: 50px 15px;

    text-align: center;
    letter-spacing: 3px;

    color: #000;
    color: #00b0ff;
    text-shadow: 1px 1px 3px #000;
}
.under-speech
{
    font-weight: 700;

    color: #000;
    text-shadow: 0 0 2px #f2f2f2;
}
.under-speech::before
{
    position: absolute;
    left: 25%;

    width: 50%;
    height: 2px;

    content: '';

    background-color: #f2f2f2;
}
.social-link
{
    position: absolute;
    top: 550px;
    right: 60px;

    display: none;

    width: 200px;
    padding: 5px;

    background: rgba(207, 207, 207, .9);
    -webkit-box-shadow: 0 0 16px 0 #000;
            box-shadow: 0 0 16px 0 #000;
}
.FormFT a,
.FormZv a,
.messages a
{
    right: 10px;

    text-decoration: none;
}
.social-link h2
{
    font-size: 18px;
    font-weight: 400;

    color: #000;
}
.social-link-vk
{
    font-size: 0;

    display: block;

    width: 40px;
    height: 40px;
    margin: 5px auto 0;

    border: 1px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #4a709b;
    background-image: url(../img/vk-social-network-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 30px 30px;
            background-size: 30px;
}
.social-link-vk:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    border-color: #4a709b;
    background-color: #f0626e;
}
.FormaRight
{
    position: relative;
    top: 380px;

    width: 60%;
    margin-left: 30%;
    padding: 20px 15px;

    color: #000;
    background: rgba(207, 207, 207, .9);
    -webkit-box-shadow: 0 0 16px 0 #000;
            box-shadow: 0 0 16px 0 #000;
}
.messages,
.temno
{
    position: fixed;

    display: none;
}
.FormaRight h5
{
    font-size: 1.7em;
}
.FormaRight strong
{
    font-size: 19px;

    color: #f0626e;
}
.FormaRight p
{
    font-size: 1em;

    margin-top: 15px;
}
.blok2
{
    width: 100%;

    -webkit-box-shadow: 0 -15px 29px -13px #000;
            box-shadow: 0 -15px 29px -13px #000;
}
.FormaRight input
{
    width: 60%;
    margin-top: 8px;
    margin-left: 20%;
    padding: 9px;

    color: #111;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.FormaRight #btn_submit
{
    font-size: 1.3em;

    padding: 10px 13px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background: #e93746;
}
.FormaRight #btn_submit:hover
{
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    background: #ff7c7c;
}
.FormZv a:hover,
.messages a:hover
{
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.FormaRight #btn_submit:active
{
    -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .3);
            box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .3);
}
.FormZv,
.messages
{
    padding: 25px 15px;

    text-align: center;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 0 25px 1px #000;
            box-shadow: 0 0 25px 1px #000;
}
.temno
{
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
.messages
{
    font-size: 1.3em;

    z-index: 9999;
    top: 20%;
    left: 50%;

    width: 50%;
    margin-left: -25%;

    color: #fff;
    background: #049aff;
}
.messages a
{
    font-size: 0;

    position: absolute;
    top: 5px;

    display: block;

    width: 20px;
    height: 20px;

    opacity: .65;
    color: #fff;
    background: url(../img/close-btn.png);
}
.FormZv,
.temnoZv
{
    position: fixed;

    display: none;
}
.messages a:hover
{
    opacity: 1;
}
.temnoZv
{
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
.FormZv
{
    z-index: 9999;
    top: 20%;
    left: 50%;

    width: 30%;
    margin-left: -15%;

    background: #049aff;
}
#my-contact-formZv p
{
    font-family: inherit;
    font-size: 1.5em;

    text-transform: uppercase;

    color: #fff;
}
.FormZv input
{
    width: 60%;
    margin-top: 8px;
    padding: 9px;

    color: #111;
}
#my-contact-formZv #btn_submit
{
    font-size: 1.3em;

    padding: 10px 13px;

    color: #fff;
    border: none;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background: #e93746;
}
#my-contact-formZv #btn_submit:hover
{
    background: #ff7c7c;
}
.messagesZv
{
    font-size: 1.2em;

    display: none;

    color: #fff;
}
.FormZv a,
.cd-image-container img
{
    display: block;
}
.FormZv a
{
    font-size: 0;

    position: absolute;
    top: 5px;

    width: 20px;
    height: 20px;

    opacity: .65;
    color: #fff;
    background: url(../img/close-btn.png);
}
.FormZv a:hover
{
    opacity: 1;
}
.footer_bottom
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 7px 13px;

    border-top: 4px solid #049aff;
    background: #fff;
}
.blok2 h2,
.blok4 h3,
.blok6 h5,
.blok7 h5
{
    font-size: 2em;

    padding: 30px 10px;

    text-align: center;
}
.footer_bottom p
{
    width: 100%;

    text-align: center;

    background: #fff;
}
main
{
    border-bottom: 4px solid #049aff;
}
.blok2
{
    background: url(../img/cleanin-set-bg.jpg);
}
.blok4 h3,
.blok6 h5
{
    margin-top: 60px;
}
/*Стили блока "наши работники*/
.our-workers__unit-container
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;
            flex-direction: column;

    margin: 5%;

    border: 1px solid #d9d9d9;
    -webkit-border-radius: 5%;
            border-radius: 5%;
    -webkit-box-shadow: 0 0 3px 1px #ccc;
            box-shadow: 0 0 3px 1px #ccc;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}
.our-workers
{
    margin-top: 10%;
    margin-bottom: 5%;
}
.our-workers h4
{
    font-size: 2em;
    font-weight: bold;

    display: block;

    margin-bottom: 5%;

    text-align: center;
}
.our-workers__unit-name
{
    overflow: hidden;

    padding-top: 3%;
    padding-bottom: 3%;

    text-align: center;

    border-bottom: 2px solid #d9d9d9;
    background-color: #fbfbfb;
}
.our-workers__unit-name span
{
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 400;

    text-align: left;
    text-transform: uppercase;
}
.our-workers__unit-photo
{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 5%;
}
.our-workers__unit-photo img
{
    height: 100%;

    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.our-workers__unit-info
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    padding-top: 3%;
    padding-right: 10%;
    padding-bottom: 3%;
    padding-left: 10%;

    border-top: 2px solid #d9d9d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
    background: -webkit-linear-gradient(top, #049aff, #86c5ff);
    background:      -o-linear-gradient(top, #049aff, #86c5ff);
    background:         linear-gradient(to bottom, #049aff, #86c5ff);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}
.our-workers__unit-info span
{
    font-family: inherit;
    font-size: 1.2em;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;

    color: #fff;
}
/*Стили блока "наши работники*/
.blok7 h5
{
    width: 60%;
    margin-top: 30px;
    margin-left: 20%;

    background: #fff;
    -webkit-box-shadow: 0 0 3px 0 #000;
            box-shadow: 0 0 3px 0 #000;
}
.blok8
{
    background: url(../img/blok8_fon.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
}
.blok8 p
{
    font-size: .9em;

    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    color: #fff;
}
.price-online__title .price-online__title-text
{
    font-size: 2em;

    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;

    text-align: center;

    color: #fff;
}
.price-online__flex-container
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-bottom: 30px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.price-online__btn
{
    font-size: 0;

    width: 100px;
    height: 100px;

    text-decoration: none;

    border: 2px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.whatsup-btn
{
    position: relative;

    margin-right: 100px;

    background-color: #00c5a8;
    background-image: url('../img/whatsapp-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 80% 80%;
            background-size: 80% 80%;
}
.whatsup-btn::before
{
    font-size: 16px;

    position: absolute;
    bottom: -25px;
    left: 18px;

    content: 'What\'s Up';

    color: #fff;
}
.viber-btn::before
{
    font-size: 16px;

    position: absolute;
    bottom: -25px;
    left: 28px;

    content: 'Viber';

    color: #fff;
}
.viber-btn
{
    position: relative;

    background-color: #6f51aa;
    background-image: url('../img/viber-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 80% 80%;
            background-size: 80% 80%;
}
.viber-btn:hover
{
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;

    background-color: #5a31ab;
}
.whatsup-btn:hover::before,
.viber-btn:hover::before
{
    text-decoration: underline;
}
.whatsup-btn:hover
{
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;

    background-color: #007f6c;
}
/*
.opepator {
    padding: 30px 20px;
    float: left;
    width: 40%
}
*/
.foto_blok2,
.text_blok2
{
    width: 80%;
    margin-left: 10%;
}
/*
.opepator img {
    border-radius: 170px;
    box-shadow: 0 0 8px 0 #000
}

.voprosi {
    padding: 40px 20px
}

.voprosi h6 {
    font-size: 2.7em;
    color: #fff;
    margin-top: 10px
}

.voprosi p,
.voprosi span {
    margin-top: 40px
}

.voprosi a {
    color: #fff
}

.voprosi__tellink {
    border-bottom: 4px solid #fff
}

.voprosi span {
    font-size: 1.7em;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 50px;
    background: #e93746;
    box-shadow: 0 0 10px 0 #000;
    transition: .5s
}

.voprosi span:hover {
    transition: .5s;
    background: #f0626e;
    box-shadow: 0 0 3px 0 #000
}
*/
.zel
{
    color: #049aff;
}
.text_blok2 p
{
    font-size: 1.2em;
    line-height: 1.3;

    margin-top: 10px;
}
.foto_blok2
{
    margin-top: 30px;
}
.blok3 h3,
.blok5 h4
{
    font-size: 2em;

    margin-top: 60px;

    text-align: center;
}
.blok3 h3
{
    width: 70%;
    margin-bottom: 30px;
    margin-left: 15%;
    padding: 12px 40px;

    background: #fff;
}
.bloki_blok3 img,
.bloki_blok3 p,
.cd-image-container
{
    width: 90%;
    margin-left: 5%;
}
.blok5 h4
{
    padding: 30px 10px;
}
.blok3
{
    background: #f3f3f3;
}
.bloki_blok3 .grid-3
{
    margin-top: 20px;
}
.bloki_blok3 p
{
    font-size: 1.4em;

    padding: 15px 5px;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
    text-align: center;

    color: #fff;
    background: #049aff;
    -webkit-box-shadow: 0 -8px 20px -5px #000;
            box-shadow: 0 -8px 20px -5px #000;
}
.bloki_blok3 p:hover
{
    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    -webkit-box-shadow: none;
            box-shadow: none;
}
.cd-image-container
{
    position: relative;

    -webkit-box-shadow: 0 0 16px 0 #000;
            box-shadow: 0 0 16px 0 #000;
}
.cd-image-label
{
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 1em;

    -webkit-transition: -webkit-transform .3s .7s, opacity .3s .7s;
    -webkit-transition: opacity .3s .7s, -webkit-transform .3s .7s;
         -o-transition:         transform .3s .7s, opacity .3s .7s;
            transition: opacity .3s .7s, -webkit-transform .3s .7s;
            transition:         transform .3s .7s, opacity .3s .7s;
            transition:         transform .3s .7s, opacity .3s .7s, -webkit-transform .3s .7s;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);

    opacity: 0;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-image-label.is-hidden
{
    visibility: hidden;
}
.is-visible .cd-image-label
{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}
.cd-resize-img
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 0;
    height: 100%;
    /* Force Hardware Acceleration in WebKit */

    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.cd-resize-img img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: auto;
    max-width: none;
    height: 100%;
}
.cd-resize-img .cd-image-label
{
    right: auto;
    left: 0;
}
.is-visible .cd-resize-img
{
    width: 50%;
    /* bounce in animation of the modified image */

    -webkit-animation: cd-bounce-in .7s;
            animation: cd-bounce-in .7s;
}
.cd-see-all-link
{
    font-size: 1em;

    color: #fff;
    background-color: #4273aa;
}
.cd-see-all-link:hover
{
    color: #fff !important;
    background-color: #35659a;
}
.cd-see-all-link::before
{
    position: absolute;
    top: 7px;
    left: 20px;

    display: block;

    width: 35px;
    height: 35px;

    content: '';

    background: url('../img/vk.png') no-repeat center;
}
@-webkit-keyframes cd-bounce-in
{
    0%
    {
        width: 0;
    }
    60%
    {
        width: 55%;
    }
    100%
    {
        width: 50%;
    }
}
@keyframes cd-bounce-in
{
    0%
    {
        width: 0;
    }
    60%
    {
        width: 55%;
    }
    100%
    {
        width: 50%;
    }
}
.cd-handle
{
    position: absolute;
    top: 50%;
    /* center the element */
    left: 50%;

    width: 44px;
    height: 44px;
    margin-top: -22px;
    margin-left: -22px;

    cursor: move;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
        -ms-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);

    opacity: 0;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #049aff url('../img/cd-arrows.svg') no-repeat center center;
    -webkit-box-shadow: 0 0 0 6px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(255, 255, 255, .3);
            box-shadow: 0 0 0 6px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(255, 255, 255, .3);
}
.cd-handle.draggable
{
    /* change background color when element is active */
    background-color: #445b7c;
}
.is-visible .cd-handle
{
    -webkit-transition: -webkit-transform .3s .7s, opacity 0s .7s;
    -webkit-transition: opacity 0s .7s, -webkit-transform .3s .7s;
         -o-transition:         transform .3s .7s, opacity 0s .7s;
            transition: opacity 0s .7s, -webkit-transform .3s .7s;
            transition:         transform .3s .7s, opacity 0s .7s;
            transition:         transform .3s .7s, opacity 0s .7s, -webkit-transform .3s .7s;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
        -ms-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);

    opacity: 1;
}
.blok4 .grid-6
{
    margin-top: 20px;
}
.cImg-handle2
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 3px;
    height: 100%;

    background: #fff;
}
.СозданиеСайтов
{
    margin-top: -7px;

    text-align: center;
}
.СозданиеСайтов img
{
    position: relative;
    top: 10px;

    width: 30px;

    -webkit-transition: .6s;
         -o-transition: .6s;
            transition: .6s;

    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0 0 7px 0 #000 inset;
            box-shadow: 0 0 7px 0 #000 inset;
}
.FormFT,
.temnoFT
{
    position: fixed;

    display: none;
}
.FormFT
{
    -webkit-animation: bounce .3s;
            animation: bounce .3s;
}
@-webkit-keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
.СозданиеСайтов img:hover
{
    -webkit-transition: .6s;
         -o-transition: .6s;
            transition: .6s;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);

    -webkit-box-shadow: 0 0 7px 0 #000;
            box-shadow: 0 0 7px 0 #000;
}
.СозданиеСайтов a
{
    text-decoration: none;

    color: #111;
}
.contakt
{
    font-size: 2em;

    margin-top: 60px;
    padding: 20px 10px;

    text-align: center;
}
.footer_right span
{
    margin-top: 30px;
    padding: 10px 13px;

    cursor: pointer;
    -webkit-transition: .6s;
         -o-transition: .6s;
            transition: .6s;

    color: #fff;
    background: #e93746;
    -webkit-box-shadow: 0 0 7px 0 #000;
            box-shadow: 0 0 7px 0 #000;
}
.footer_right span:hover
{
    -webkit-transition: .6s;
         -o-transition: .6s;
            transition: .6s;

    background: #f0626e;
    -webkit-box-shadow: 0 0 2px 0 #000;
            box-shadow: 0 0 2px 0 #000;
}
.temnoFT
{
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
.FormFT
{
    z-index: 9999;
    top: 20%;
    left: 50%;

    width: 30%;
    margin-left: -15%;
    padding: 25px 15px;

    text-align: center;

    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: #049aff;
    -webkit-box-shadow: 0 0 25px 1px #000;
            box-shadow: 0 0 25px 1px #000;
}
#my-contact-formFT p
{
    font-size: 1.5em;

    text-transform: uppercase;

    color: #fff;
}
.FormFT input
{
    width: 60%;
    margin-top: 8px;
    padding: 9px;

    color: #111;
}
#my-contact-formFT #btn_submit
{
    font-size: 1.3em;

    padding: 10px 13px;

    color: #fff;
    border: none;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background: #e93746;
}
#my-contact-formFT #btn_submit:hover
{
    background: #ff7c7c;
}
.messagesFT
{
    font-size: 1.2em;

    display: none;

    -webkit-animation: bounce .3s;
            animation: bounce .3s;

    color: #fff;
}
.FormFT a
{
    font-size: 0;

    position: absolute;
    top: 5px;

    display: block;

    width: 20px;
    height: 20px;

    opacity: .65;
    color: #fff;
    background: url(../img/close-btn.png);
}
.FormFT a:hover
{
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);

    opacity: 1;
}
.zakaz_xim
{
    font-size: 1.4em;

    margin: 70px 0 50px;

    text-align: center;
}
.zakaz_xim span
{
    padding: 16px 22px;

    cursor: pointer;
    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    color: #fff;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    background: #e93746;
    -webkit-box-shadow: 0 0 8px 0 #000;
            box-shadow: 0 0 8px 0 #000;
}
.zakaz_xim span:hover
{
    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    background: #f0626e;
    -webkit-box-shadow: 0 0 2px 0 #000;
            box-shadow: 0 0 2px 0 #000;
}
.grid-3 .usluga
{
    margin: 3%;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    -webkit-box-shadow: 0 0 8px 0 #000;
            box-shadow: 0 0 8px 0 #000;
}
.grid-3 .usluga:hover
{
    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    -webkit-box-shadow: 0 0 3px 0 #000;
            box-shadow: 0 0 3px 0 #000;
}
.usluga img
{
    width: 100%;
}
.usluga_opis
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    min-height: 190px;
    margin-top: -20px;
    padding-top: 10px;

    text-align: center;

    color: #fff;
    background: #049aff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.usluga_opis p
{
    font-size: 1.2em;

    margin-top: 20px;
}
.usluga_opis span
{
    font-size: 1.2em;

    margin: 30px 0 20px;
    padding: 12px 15px;

    cursor: pointer;

    color: #fff;
    background: #e93746;
}
.usluga_opis span:hover
{
    background: #e94a57;
}
.minzakaz
{
    font-size: 1.2em;

    margin-top: 30px;

    text-align: center;

    color: red;
}
.usluga_opis .cena
{
    font-size: 1.6em;
    font-weight: 600;
}
.blok7 h6,
.blok9 h5
{
    font-size: 2em;

    text-align: center;
}
.blok7
{
    background: url(../img/cleanin-set-bg.jpg);
}
.blok7 h6
{
    margin-top: 10px;
}
.blok9 h5
{
    margin-top: 60px;
}
.blok7 img
{
    width: 60%;
    margin-left: 20%;
}
.carpet-machine
{
    width: 100% !important;
    margin-top: 30px;
}
.carpet-machine img
{
    float: left;

    width: 300px;
    height: 300px;
    margin-right: 5%;
    margin-bottom: 10px;
    margin-left: 10%;
}
.carpet-machine h6
{
    margin-bottom: 10px;
}
.blok7 p
{
    font-size: 1.1em;

    width: 80%;
    margin-left: 10%;
}
.flex-direction-nav li
{
    position: absolute;
    top: 0;

    width: 40px;
    height: 100%;
}
.flex-direction-nav li:first-child
{
    left: 0;
}
.flex-direction-nav li:last-child
{
    right: 0;
}
.flex-direction-nav li a
{
    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: background-color .2s;
         -o-transition: background-color .2s;
            transition: background-color .2s;
    white-space: nowrap;
    text-indent: 100%;
}
.flex-direction-nav li a::after,
.flex-direction-nav li a::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 13px;

    content: '';

    background-color: #fff;
}
.flex-direction-nav li a::before
{
    -webkit-transform: translateY(-35px) rotate(45deg);
        -ms-transform: translateY(-35px) rotate(45deg);
            transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after
{
    -webkit-transform: translateY(-27px) rotate(-45deg);
        -ms-transform: translateY(-27px) rotate(-45deg);
            transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before
{
    -webkit-transform: translateY(-35px) rotate(-45deg);
        -ms-transform: translateY(-35px) rotate(-45deg);
            transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after
{
    -webkit-transform: translateY(-27px) rotate(45deg);
        -ms-transform: translateY(-27px) rotate(45deg);
            transform: translateY(-27px) rotate(45deg);
}
.cd-testimonials-all
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
         -o-transition: opacity .3s 0s, visibility 0s .3s;
            transition: opacity .3s 0s, visibility 0s .3s;

    opacity: 0;
    background-color: #fff;
}
.cd-testimonials-all.is-visible
{
    visibility: visible;

    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
         -o-transition: opacity .3s 0s, visibility 0s 0s;
            transition: opacity .3s 0s, visibility 0s 0s;

    opacity: 1;
}
.cd-author__ava
{
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;

    border: 1px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
    -webkit-box-shadow: 0 1px 10px 0 #000;
            box-shadow: 0 1px 10px 0 #000;
}
.cd-author__ava-slot0
{
    background: url(../img/aleksandra.jpg) center no-repeat;
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.cd-author__ava-slot1
{
    background: url(../img/anna.jpg) center no-repeat;
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.cd-author__ava-slot2
{
    background-image: url(../img/vala.jpg);
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.cd-author__ava-slot3
{
    background-image: url(../img/safonova.jpg);
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.cd-author__ava-slot4
{
    background-image: url(../img/ankundinova.jpg);
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.cd-author__ava-slot5
{
    background-image: url(../img/darina.jpg);
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.cd-author__ava-slot6
{
    background-image: url(../img/camera_50.png);
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
}
.zakaz_xim a
{
    padding: 10px 15px;

    color: #fff;
    background: #049aff;
}
.zakaz_xim a:hover
{
    background: #4fb8ff;
}
@media (min-width: 800px)
{
    .page-header
    {
        width: 800px;
    }
    .main-nav
    {
        width: 800px;
    }
    .page-header
    {
        position: fixed;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        min-height: 50px;

        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }
    .page-header__logo
    {
        width: 60%;

        border-right: 2px solid #fff;

        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .page-header__logo-link
    {
        position: static;

        width: 45%;
    }
    .page-header__phone a
    {
        font-family: inherit;
        font-size: 1em;

        padding-left: 1%;
        padding-left: 15%;
    }
    .page-header__phone a::before
    {
        top: -2%;
        left: -1%;
    }
    .main-nav
    {
        z-index: 99;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .main-nav__toggle
    {
        display: none;
    }
    .main-nav--closed .main-nav__item
    {
        display: block;
    }
    .page-header .main-nav
    {
        padding-left: 1%;

        background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
        background: -webkit-linear-gradient(top, #049aff, #86c5ff);
        background:      -o-linear-gradient(top, #049aff, #86c5ff);
        background:         linear-gradient(to bottom, #049aff, #86c5ff);
    }
    .main-nav--opened .main-nav__wrapper
    {
        height: auto;
    }
    .main-nav__items
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }
    .main-nav__item a
    {
        font-size: 18px;
        font-weight: bold;
        line-height: 36px;

        display: block;

        margin: 0;
        padding: 0;
        padding: 10px 10px;
        padding-top: 10px;
        padding-bottom: 13px;

        border-collapse: collapse;
        list-style: none;

        text-decoration: none;
        text-transform: none;

        color: #fff;
        border-top: none;
        border-bottom: none;
    }
    .main-nav__item-active
    {
        display: none;
    }
    .main-nav__item:hover::before
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        width: auto;
        height: 3px;

        content: '';
        -webkit-animation: main-nav-after-bounce .2s;
                animation: main-nav-after-bounce .2s;

        -webkit-border-radius: 20px;
                border-radius: 20px;
        background-color: #fff;
    }
    .main-nav--closed .main-nav__toggle::before
    {
        display: none;
    }
    .main-nav--closed .main-nav__item
    {
        display: block;
    }
    .main-nav--opened .main-nav__wrapper
    {
        -webkit-animation: none;
                animation: none;
    }
    .main-nav--opened .main-nav__wrapper::before
    {
        display: none;
    }
    .main-nav__item a[href]:hover
    {
        background-color: none;
    }
    .main-nav__item a[href]:active
    {
        color: rgba(255, 255, 255, .3);
        background-color: none;
    }
    .main-nav--opened .main-nav__wrapper
    {
        position: static;

        background: none;
    }
    .main-nav--opened .main-nav__toggle
    {
        display: none;
    }
    .main-nav__item-active
    {
        border: none;
    }
    .main-nav__item .main-nav__social-link
    {
        display: none;
    }
    .zvonok
    {
        display: block;

        margin-right: 1%;
    }
    .page-footer__wrapper
    {
        position: relative;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
                flex-direction: row;

        margin-top: 0;
        padding-top: 35px;
        padding-right: 40px;
        padding-bottom: 35px;
        padding-left: 40px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .page-footer__social-links
    {
        margin: 0;
        padding-right: 30px;

        border: none;
        border-right: 1px solid #ccc;

        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
                order: 1;
    }
    .page-footer__footer-logo
    {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
                order: 3;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
                align-self: center;
    }
    .page-footer__develop
    {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -ms-flex-order: 4;
                order: 4;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
                align-self: flex-end;
    }
    .page-footer__footer-logo
    {
        margin: 0;
    }
    .page-footer__develop
    {
        margin: 0;
        padding: 0;

        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
                align-self: flex-end;
    }
    .page-footer__menu span
    {
        font-family: inherit;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;

        padding-bottom: 5%;

        text-align: center;

        color: #a6a6a6;
    }
    .page-footer__menu
    {
        display: block;

        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
                order: 2;
    }
    .page-footer__menu ul
    {
        margin: 0;
        padding: 0;
        padding-top: 20px;

        border-collapse: collapse;
        list-style: none;

        text-decoration: none;
    }
    .page-footer__menu ul li
    {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;

        border-collapse: collapse;
        list-style: none;

        text-decoration: none;
    }
    .page-footer__menu a
    {
        font-size: 18px;
        line-height: 25px;

        color: #a6a6a6;
    }
    .page-footer__menu a:hover
    {
        -webkit-transition: .3s;
             -o-transition: .3s;
                transition: .3s;

        color: #fff;
        border-bottom: 1px solid #ccc;
    }
    .page-footer__wrapper
    {
        margin: 0 auto;
    }
}
