@-webkit-keyframes main-picture-bounce {
  0% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes main-picture-bounce {
  0% {
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes main-nav-after-bounce {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes main-nav-after-bounce {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.page-header {
  width: 320px;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  width: 100%;
  -webkit-box-shadow: 1px 0 15px 1px #000000;
          box-shadow: 1px 0 15px 1px #000000;
}
@media (min-width: 800px) {
  .page-header {
    width: 800px;
  }
}
.page-header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
  background: -webkit-linear-gradient(top, #049aff, #86c5ff);
  background: -o-linear-gradient(top, #049aff, #86c5ff);
  background: linear-gradient(to bottom, #049aff, #86c5ff);
  padding-left: 2%;
  padding-right: 2%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__logo-link {
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 1%;
  width: 40%;
}
.main-nav {
  width: 320px;
  margin: 0 auto;
  position: relative;
  background: #cfcfcf;
  width: 100%;
  text-align: center;
}
@media (min-width: 800px) {
  .main-nav {
    width: 800px;
  }
}
.main-nav__item,
.main-nav__items {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  position: relative;
}
.main-nav__item a {
  padding: 0;
  margin: 0;
  list-style: none;
  border-collapse: collapse;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px 0px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.page-header__phone a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1001;
}
.page-header__phone a:hover {
  color: #7bf5b5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.page-header__phone a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  width: 20px;
  height: 20px;
  background: url("../../img/call-answer.svg") center no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}
.zvonok {
  display: none;
}
.main-nav__item-active {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 36px;
  font-size: 0;
  background-color: #cfcfcf;
  cursor: pointer;
  border: 1px solid #ffffff;
  outline: none;
}
.main-nav__toggle:hover {
  background-color: #049aff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-nav__toggle:active {
  background-color: #86c5ff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
          box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  z-index: 1000;
  border: 1px solid #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 18px;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__item a[href]:hover {
  background-color: rgba(207, 207, 207, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(207, 207, 207, 0.6);
}
.main-nav--closed .main-nav__item {
  display: none;
}
.main-nav--closed .main-nav__item-active {
  display: block;
}
.main-nav--opened .main-nav__wrapper {
  position: absolute;
  height: 80vh;
  top: 0;
  right: 0;
  left: 70px;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
  background: -webkit-linear-gradient(top, #049aff, #86c5ff);
  background: -o-linear-gradient(top, #049aff, #86c5ff);
  background: linear-gradient(to bottom, #049aff, #86c5ff);
  -webkit-animation: main-picture-bounce 0.5s;
          animation: main-picture-bounce 0.5s;
  z-index: -1;
}
.main-nav--opened .main-nav__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 7px;
  height: 100%;
  -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  height: auto;
}
.main-nav--nojs .main-nav__item {
  display: block;
}
.main-nav-nojs .main-nav__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}
@media (min-width: 800px) {
  .page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    min-height: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-header__logo {
    width: 60%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-right: 2px solid #ffffff;
  }
  .page-header__logo-link {
    position: static;
    width: 45%;
  }
  .page-header__phone a {
    padding-left: 1%;
    font-size: 1em;
    padding-left: 15%;
    font-family: inherit;
  }
  .page-header__phone a::before {
    top: -2%;
    left: -1%;
  }
  .main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 99;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav--closed .main-nav__item {
    display: block;
  }
  .page-header .main-nav {
    padding-left: 1%;
    background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
    background: -webkit-linear-gradient(top, #049aff, #86c5ff);
    background: -o-linear-gradient(top, #049aff, #86c5ff);
    background: linear-gradient(to bottom, #049aff, #86c5ff);
  }
  .main-nav--opened .main-nav__wrapper {
    height: auto;
  }
  .main-nav__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .main-nav__item a {
    padding: 0;
    margin: 0;
    list-style: none;
    border-collapse: collapse;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    padding-bottom: 13px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 36px;
    text-transform: none;
    border-top: none;
    border-bottom: none;
    font-weight: 400;
  }
  .main-nav__item:hover::before {
    content: "";
    position: absolute;
    width: auto;
    bottom: 0;
    left: 0%;
    right: 0%;
    height: 3px;
    background-color: #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-animation: main-nav-after-bounce 0.2s;
            animation: main-nav-after-bounce 0.2s;
  }
  .main-nav--closed .main-nav__toggle::before {
    display: none;
  }
  .main-nav--closed .main-nav__item {
    display: block;
  }
  .main-nav--opened .main-nav__wrapper {
    -webkit-animation: none;
            animation: none;
  }
  .main-nav--opened .main-nav__wrapper::before {
    display: none;
  }
  .main-nav__item a[href]:hover {
    background-color: none;
  }
  .main-nav__item a[href]:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: static;
    background: none;
  }
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
  .main-nav__item-active {
    border: none;
  }
  .zvonok {
    display: block;
    margin-right: 1%;
  }
}
.nav a,
.tel a,
.zakaz_zvonok a,
a {
  text-decoration: none;
}
.FormaRight h5,
.FormaRight p,
.nav a,
.social-link h2,
.tel,
.zakaz_zvonok {
  text-align: center;
}
body {
  overflow-x: hidden;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", Arial, sans-serif;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[class*=grid-] {
  float: left;
  padding: 0;
  width: 100%;
}
.Menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
  background: -webkit-linear-gradient(top, #049aff, #86c5ff);
  background: -o-linear-gradient(top, #049aff, #86c5ff);
  background: linear-gradient(to bottom, #049aff, #86c5ff);
  position: fixed;
  width: 100%;
  height: auto;
  padding: 10px 0;
  z-index: 99;
  -webkit-box-shadow: 1px 0 15px 1px #000;
          box-shadow: 1px 0 15px 1px #000;
}
.visually-hidden {
  display: none;
}
.logo img {
  width: 40%;
  float: left;
  margin-left: 9%;
}
.logo span {
  width: 45%;
  color: #f2f2f2;
  margin-left: 4%;
  float: left;
  margin-top: 3%;
  font-size: 1em;
  font-weight: 700;
}
nav ul {
  font-size: 0;
  margin-left: 10%;
}
.nav li {
  display: inline;
  list-style: none;
}
.nav a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
  height: 60px;
  font-family: inherit;
  font-size: 18px;
  line-height: 19px;
  color: #f2f2f2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav a::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: 40px;
  background: #f2f2f2;
}
.nav a:hover {
  color: #000000;
  border-bottom: 1px solid #f2f2f2;
}
.nav a:active {
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.tel a {
  display: block;
  border: 2px solid #fff;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  color: #fff;
  font-size: 1.4em;
  background: #02ef79;
  margin-top: 5px;
}
.tel a:hover {
  background: #00bc61;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.zakaz_zvonok {
  margin-top: 13px;
}
.zakaz_zvonok a {
  color: #fff;
  padding: 5px 11px;
  font-size: 1.2em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #ff0030;
}
.zakaz_zvonok a:hover {
  background: #00ff8c;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #fff;
}
#footer {
  height: 600px;
}
#footer .footer_right {
  padding: 50px;
  background: #049aff;
  position: absolute;
  width: 40%;
  right: 50px;
  top: 100px;
  color: #fff;
  font-size: 1.4em;
  -webkit-box-shadow: 0 0 20px 0 #000;
          box-shadow: 0 0 20px 0 #000;
}
.footer_right p {
  margin-top: 15px;
}
.footer_right a {
  color: #fff;
}
.blok1 {
  background: url(../img/back-main.jpg) 100% 100% no-repeat fixed;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position-x: left;
  width: 100%;
  height: 750px;
}
.speech-container {
  position: absolute;
  top: 100px;
  width: 90%;
  margin-left: 5%;
  color: #000;
  padding: 50px 15px;
  text-align: center;
  font-size: 1.5em;
  color: #00b0ff;
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px #000000;
}
.under-speech {
  color: #000000;
  text-shadow: 0px 0px 2px #f2f2f2;
  font-weight: 700;
}
.under-speech::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  height: 2px;
  background-color: #f2f2f2;
}
.social-link {
  position: absolute;
  width: 200px;
  padding: 5px;
  top: 550px;
  right: 60px;
  -webkit-box-shadow: 0 0 16px 0 #000;
          box-shadow: 0 0 16px 0 #000;
  background: rgba(207, 207, 207, 0.9);
  display: none;
}
.FormFT a,
.FormZv a,
.messages a {
  right: 10px;
  text-decoration: none;
}
.social-link h2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
.social-link-vk {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px auto 0;
  font-size: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #4a709b;
  background-image: url(../img/vk-social-network-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 30px 30px;
          background-size: 30px;
}
.social-link-vk:hover {
  background-color: #f0626e;
  border-color: #4a709b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.FormaRight {
  position: relative;
  top: 380px;
  width: 60%;
  margin-left: 30%;
  background: rgba(207, 207, 207, 0.9);
  color: #000;
  padding: 20px 15px;
  -webkit-box-shadow: 0 0 16px 0 #000;
          box-shadow: 0 0 16px 0 #000;
}
.messages,
.temno {
  position: fixed;
  display: none;
}
.FormaRight h5 {
  font-size: 1.7em;
}
.FormaRight strong {
  font-size: 19px;
  color: #f0626e;
}
.FormaRight p {
  font-size: 1em;
  margin-top: 15px;
}
.blok2 {
  -webkit-box-shadow: 0 -15px 29px -13px #000;
          box-shadow: 0 -15px 29px -13px #000;
  width: 100%;
}
.FormaRight input {
  width: 60%;
  margin-left: 20%;
  margin-top: 8px;
  padding: 9px;
  color: #111;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.FormaRight #btn_submit {
  background: #e93746;
  border: none;
  color: #fff;
  font-size: 1.3em;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 10px 13px;
  text-transform: uppercase;
}
.FormaRight #btn_submit:hover {
  background: #ff7c7c;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.FormZv a:hover,
.messages a:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.FormaRight #btn_submit:active {
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.FormZv,
.messages {
  padding: 25px 15px;
  text-align: center;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 25px 1px #000;
          box-shadow: 0 0 25px 1px #000;
}
.temno {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
}
.messages {
  top: 20%;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  z-index: 9999;
  background: #049aff;
  font-size: 1.3em;
  color: #fff;
}
.messages a {
  display: block;
  opacity: 0.65;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  color: #fff;
  font-size: 0;
  background: url(../img/close-btn.png);
}
.FormZv,
.temnoZv {
  position: fixed;
  display: none;
}
.messages a:hover {
  opacity: 1;
}
.temnoZv {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
}
.FormZv {
  top: 20%;
  width: 30%;
  left: 50%;
  margin-left: -15%;
  z-index: 9999;
  background: #049aff;
}
#my-contact-formZv p {
  font-family: inherit;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}
.FormZv input {
  width: 60%;
  margin-top: 8px;
  padding: 9px;
  color: #111;
}
#my-contact-formZv #btn_submit {
  background: #e93746;
  border: none;
  color: #fff;
  font-size: 1.3em;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 10px 13px;
}
#my-contact-formZv #btn_submit:hover {
  background: #ff7c7c;
}
.messagesZv {
  color: #fff;
  display: none;
  font-size: 1.2em;
}
.FormZv a,
.cd-image-container img {
  display: block;
}
.FormZv a {
  opacity: 0.65;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  color: #fff;
  font-size: 0;
  background: url(../img/close-btn.png);
}
.FormZv a:hover {
  opacity: 1;
}
.footer_bottom {
  background: #fff;
  padding: 7px 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #049aff;
}
.blok2 h2,
.blok4 h3,
.blok6 h5,
.blok7 h5 {
  text-align: center;
  padding: 30px 10px;
  font-size: 2em;
}
.footer_bottom p {
  background: #fff;
  width: 100%;
  text-align: center;
}
main {
  border-bottom: 4px solid #049aff;
}
.blok2 {
  background: url(../img/cleanin-set-bg.jpg);
}
.blok4 h3,
.blok6 h5 {
  margin-top: 60px;
}
/*Стили блока "наши работники*/
.our-workers__unit-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 5%;
          border-radius: 5%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px 1px #cccccc;
          box-shadow: 0 0 3px 1px #cccccc;
}
.our-workers {
  margin-top: 10%;
  margin-bottom: 5%;
}
.our-workers h4 {
  display: block;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 5%;
  text-align: center;
}
.our-workers__unit-name {
  border-bottom: 2px solid #d9d9d9;
  background-color: #fbfbfb;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  overflow: hidden;
}
.our-workers__unit-name span {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
}
.our-workers__unit-photo {
  padding: 5%;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}
.our-workers__unit-photo img {
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.our-workers__unit-info {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #d9d9d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
  background: -webkit-linear-gradient(top, #049aff, #86c5ff);
  background: -o-linear-gradient(top, #049aff, #86c5ff);
  background: linear-gradient(to bottom, #049aff, #86c5ff);
}
.our-workers__unit-info span {
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #ffffff;
  font-family: inherit;
  font-size: 1.2em;
}
/*Стили блока "наши работники*/
.blok7 h5 {
  margin-top: 30px;
  width: 60%;
  margin-left: 20%;
  background: #fff;
  -webkit-box-shadow: 0 0 3px 0 #000;
          box-shadow: 0 0 3px 0 #000;
}
.blok8 {
  background: url(../img/blok8_fon.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}
.blok8 p {
  font-size: 0.9em;
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.price-online__title .price-online__title-text {
  padding-top: 20px;
  font-size: 2em;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.price-online__flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.price-online__btn {
  text-decoration: none;
  font-size: 0;
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.whatsup-btn {
  position: relative;
  margin-right: 100px;
  background-color: #00c5a8;
  background-image: url("../img/whatsapp-logo.png");
  -webkit-background-size: 80% 80%;
          background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.whatsup-btn::before {
  content: "What's Up";
  position: absolute;
  bottom: -25px;
  left: 18px;
  font-size: 16px;
  color: #ffffff;
}
.viber-btn::before {
  content: "Viber";
  position: absolute;
  bottom: -25px;
  left: 28px;
  font-size: 16px;
  color: #ffffff;
}
.viber-btn {
  position: relative;
  background-color: #6f51aa;
  background-image: url("../img/viber-logo.png");
  -webkit-background-size: 80% 80%;
          background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.viber-btn:hover {
  background-color: #5a31ab;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.whatsup-btn:hover::before,
.viber-btn:hover::before {
  text-decoration: underline;
}
.whatsup-btn:hover {
  background-color: #007f6c;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/*
.opepator {
    padding: 30px 20px;
    float: left;
    width: 40%
}
*/
.foto_blok2,
.text_blok2 {
  width: 80%;
  margin-left: 10%;
}
/*
.opepator img {
    border-radius: 170px;
    box-shadow: 0 0 8px 0 #000
}

.voprosi {
    padding: 40px 20px
}

.voprosi h6 {
    font-size: 2.7em;
    color: #fff;
    margin-top: 10px
}

.voprosi p,
.voprosi span {
    margin-top: 40px
}

.voprosi a {
    color: #fff
}

.voprosi__tellink {
    border-bottom: 4px solid #fff
}

.voprosi span {
    font-size: 1.7em;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 50px;
    background: #e93746;
    box-shadow: 0 0 10px 0 #000;
    transition: .5s
}

.voprosi span:hover {
    transition: .5s;
    background: #f0626e;
    box-shadow: 0 0 3px 0 #000
}
*/
.zel {
  color: #049aff;
}
.text_blok2 p {
  margin-top: 10px;
  line-height: 1.3;
  font-size: 1.2em;
}
.foto_blok2 {
  margin-top: 30px;
}
.blok3 h3,
.blok5 h4 {
  font-size: 2em;
  margin-top: 60px;
  text-align: center;
}
.blok3 h3 {
  padding: 12px 40px;
  background: #fff;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px;
}
.bloki_blok3 img,
.bloki_blok3 p,
.cd-image-container {
  width: 90%;
  margin-left: 5%;
}
.blok5 h4 {
  padding: 30px 10px;
}
.blok3 {
  background: #f3f3f3;
}
.bloki_blok3 .grid-3 {
  margin-top: 20px;
}
.bloki_blok3 p {
  -webkit-box-shadow: 0 -8px 20px -5px #000;
          box-shadow: 0 -8px 20px -5px #000;
  background: #049aff;
  text-align: center;
  font-size: 1.4em;
  padding: 15px 5px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bloki_blok3 p:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.cd-image-container {
  position: relative;
  -webkit-box-shadow: 0 0 16px 0 #000;
          box-shadow: 0 0 16px 0 #000;
}
.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -webkit-transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  -o-transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}
.cd-see-all-link {
  font-size: 1em;
  color: #ffffff;
  background-color: #4273aa;
}
.cd-see-all-link:hover {
  color: #ffffff !important;
  background-color: #35659a;
}
.cd-see-all-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 20px;
  top: 7px;
  background: url("../img/vk.png") no-repeat center;
}
@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #049aff url("../img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  -webkit-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -webkit-transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
  transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
  -o-transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
}
.blok4 .grid-6 {
  margin-top: 20px;
}
.cImg-handle2 {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 3px;
  background: #fff;
}
.СозданиеСайтов {
  margin-top: -7px;
  text-align: center;
}
.СозданиеСайтов img {
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 30px;
  position: relative;
  top: 10px;
  -webkit-box-shadow: 0 0 7px 0 #000 inset;
          box-shadow: 0 0 7px 0 #000 inset;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.FormFT,
.temnoFT {
  position: fixed;
  display: none;
}
.FormFT {
  -webkit-animation: bounce 0.3s;
          animation: bounce 0.3s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.СозданиеСайтов img:hover {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 0 0 7px 0 #000;
          box-shadow: 0 0 7px 0 #000;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.СозданиеСайтов a {
  color: #111;
  text-decoration: none;
}
.contakt {
  text-align: center;
  padding: 20px 10px;
  font-size: 2em;
  margin-top: 60px;
}
.footer_right span {
  cursor: pointer;
  padding: 10px 13px;
  color: #fff;
  background: #e93746;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 7px 0 #000;
          box-shadow: 0 0 7px 0 #000;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.footer_right span:hover {
  background: #f0626e;
  -webkit-box-shadow: 0 0 2px 0 #000;
          box-shadow: 0 0 2px 0 #000;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.temnoFT {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
}
.FormFT {
  top: 20%;
  width: 30%;
  left: 50%;
  margin-left: -15%;
  z-index: 9999;
  background: #049aff;
  padding: 25px 15px;
  text-align: center;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 25px 1px #000;
          box-shadow: 0 0 25px 1px #000;
}
#my-contact-formFT p {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}
.FormFT input {
  width: 60%;
  margin-top: 8px;
  padding: 9px;
  color: #111;
}
#my-contact-formFT #btn_submit {
  background: #e93746;
  border: none;
  color: #fff;
  font-size: 1.3em;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 10px 13px;
}
#my-contact-formFT #btn_submit:hover {
  background: #ff7c7c;
}
.messagesFT {
  color: #fff;
  display: none;
  font-size: 1.2em;
  -webkit-animation: bounce 0.3s;
          animation: bounce 0.3s;
}
.FormFT a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  color: #fff;
  font-size: 0;
  background: url(../img/close-btn.png);
  opacity: 0.65;
}
.FormFT a:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}
.zakaz_xim {
  font-size: 1.4em;
  margin: 70px 0 50px;
  text-align: center;
}
.zakaz_xim span {
  cursor: pointer;
  padding: 16px 22px;
  background: #e93746;
  color: #fff;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-box-shadow: 0 0 8px 0 #000;
          box-shadow: 0 0 8px 0 #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.zakaz_xim span:hover {
  background: #f0626e;
  -webkit-box-shadow: 0 0 2px 0 #000;
          box-shadow: 0 0 2px 0 #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.grid-3 .usluga {
  margin: 3%;
  -webkit-box-shadow: 0 0 8px 0 #000;
          box-shadow: 0 0 8px 0 #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.grid-3 .usluga:hover {
  -webkit-box-shadow: 0 0 3px 0 #000;
          box-shadow: 0 0 3px 0 #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.usluga img {
  width: 100%;
}
.usluga_opis {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  background: #049aff;
  color: #fff;
  text-align: center;
  margin-top: -20px;
  min-height: 190px;
}
.usluga_opis p {
  margin-top: 20px;
  font-size: 1.2em;
}
.usluga_opis span {
  background: #e93746;
  color: #fff;
  padding: 12px 15px;
  margin: 30px 0 20px;
  cursor: pointer;
  font-size: 1.2em;
}
.usluga_opis span:hover {
  background: #e94a57;
}
.minzakaz {
  color: red;
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
}
.usluga_opis .cena {
  font-size: 1.6em;
  font-weight: 600;
}
.blok7 h6,
.blok9 h5 {
  font-size: 2em;
  text-align: center;
}
.blok7 {
  background: url(../img/cleanin-set-bg.jpg);
}
.blok7 h6 {
  margin-top: 10px;
}
.blok9 h5 {
  margin-top: 60px;
}
.blok7 img {
  width: 60%;
  margin-left: 20%;
}
.carpet-machine {
  margin-top: 30px;
  width: 100% !important;
}
.carpet-machine img {
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  margin-left: 10%;
  margin-right: 5%;
  float: left;
}
.carpet-machine h6 {
  margin-bottom: 10px;
}
.blok7 p {
  width: 80%;
  margin-left: 10%;
  font-size: 1.1em;
}
.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.flex-direction-nav li a::after,
.flex-direction-nav li a::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #fff;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
      -ms-transform: translateY(-35px) rotate(45deg);
          transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
      -ms-transform: translateY(-27px) rotate(-45deg);
          transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
      -ms-transform: translateY(-35px) rotate(-45deg);
          transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
      -ms-transform: translateY(-27px) rotate(45deg);
          transform: translateY(-27px) rotate(45deg);
}
.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-author__ava {
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  -webkit-box-shadow: 0 1px 10px 0 #000;
          box-shadow: 0 1px 10px 0 #000;
}
.cd-author__ava-slot0 {
  background: url(../img/aleksandra.jpg) center no-repeat;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.cd-author__ava-slot1 {
  background: url(../img/anna.jpg) center no-repeat;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.cd-author__ava-slot2 {
  background-image: url(../img/vala.jpg);
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.cd-author__ava-slot3 {
  background-image: url(../img/safonova.jpg);
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.cd-author__ava-slot4 {
  background-image: url(../img/ankundinova.jpg);
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.cd-author__ava-slot5 {
  background-image: url(../img/darina.jpg);
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.cd-author__ava-slot6 {
  background-image: url(../img/camera_50.png);
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.zakaz_xim a {
  color: #fff;
  background: #049aff;
  padding: 10px 15px;
}
.zakaz_xim a:hover {
  background: #4fb8ff;
}
